.blog
	h2.title.title--medium Страница «Блог»
	form.blog__form(method="post")
		input.blog__input(placeholder='Название')
		input.blog__input(placeholder='Дата')
		textarea.blog__input.blog__textarea(placeholder='Содержание')
		.button
			button.button__item(type="submit") Добавить