.skill
	h2.title.title--medium Страница «Обо мне»
	form.skill__form(method="post")
		each group in tech
			.skill__group
				h4.title--small!= group.name
				each skill in group.items
					.skill__part
						.skill__label__wrap
							label.skill__label(for="skillHtml")!= skill
						.skill__input__wrap
							input.skill__input#skillHtml(name="text" placeholder=form[group.id][skill])
							span.skill__percent %
		.button
			button.button__item(type="submit") Сохранить