.works
	h2.title.title--medium Страница «Мои работы»
	form.works__form(method="post")
		input.works__input(placeholder='Название')
		input.works__input(placeholder='Дата')
		.works__upload
			button.works__button(type='button')
			input.works__file(type="file" value="Загрузить картинку")
		.button
			button.button__item(type="submit") Добавить