header.header
  .container
    .header__top-line
      include _social
      include _sandwich
    .header__content
      +avatar("avatar-small.png","Моё фото","Моё фото")
      h1.total-title Владимир Астахов
      small.total-text Личный сайт веб разработчика
      .icon-click
        i.icon-click__ico.i-arrow-down
