ul.nav
  li.nav__item
    a(href="works.html" title="Мои работы").nav__link Мои работы
  li.nav__item
    a(href="about.html" title="Обо мне").nav__link Обо мне
  li.nav__item
    a(href="blog.html" title="Блог").nav__link Блог
  li.nav__item
    a(href="/" title="Авторизация").nav__link Авторизация