.preloader
	.preloader__spinner
		.preloader__counter 
			span.preloader__number 0
		.load__img
			.preloader__svg
				.preloader__svg__line
					include ../svg/line.svg
				.preloader__svg__line
					include ../svg/line.svg
				.preloader__svg__line
					include ../svg/line.svg