.recall
  .recall__item
    .avatar
      img(src="img/man-1.png", alt="Мое Фото", title="Мое фото").avatar__img
    .quote.quote--recall
      p.quote__text.
        Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
      small.quote__pre-text
        span.quote__author Ковальчук Дмитрий
        span.quote__PS| — основатель Loftschool
  .recall__item
    .avatar
      img(src="img/man-2.png", alt="Мое Фото", title="Мое фото").avatar__img
    .quote.quote--recall
      p.quote__text.
        Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
      small.quote__pre-text
        span.quote__author Зар Захаров
        span.quote__PS — преподаватель