.skills__list
	ul.skills__row 
		span.title-skill Frontend
		li.skills__item
			+skill("HTML5","60")
		li.skills__item
			+skill("CSS3","20")
		li.skills__item
			+skill("JavaScript & jQuery","20")
	ul.skills__row 
		span.title-skill Backend
		li.skills__item
			+skill("PHP","60")
		li.skills__item
			+skill("mySQL","20")
		li.skills__item
			+skill("Node.js & npm","20")
		li.skills__item
			+skill("Mongo.db","20")
	ul.skills__row 
		span.title-skill WorkFlow
		li.skills__item
			+skill("Git","60")
		li.skills__item
			+skill("Gulp","20")
		li.skills__item
			+skill("Bower","20")