ul.social
  li.social__item
    a(href="https://vk.com/id19473263" target="_blank" title="VK").social__link
      i.social__icon.i-vkontakte
  li.social__item
    a(href="https://github.com/Eclerrr" target="_blank" title="GitHub").social__link
      i.social__icon.i-github
  li.social__item
    a(href="#" target="_blank" title="LinkedIn").social__link
      i.social__icon.i-linkedin