extends ../_template

block variables
	- var title = 'Blog'

block content
	body
		include ../modules/_preloader
		.container
			include ../modules/_sandwich
		.wrapper.blog-page
			header.header
				.container.header__container
					.header__top-line
						include ../modules/_social
					.header__content
						+avatar("avatar.jpg","Моё фото","Моё фото","avatar")
						h1.title.title--extra Блог
						+title-back("blog_header")
						small.title Статьи, которые я написал
			.page-content
				.triangle
					include ../core/_svg
				.blog-content
					.container-blog
						aside.sidebar
							a(href="#" alt="Открыть меню").sidebar__button
							.sidebar__list
						.article
							.article__container
								.article__list
									each item in items
										article.article__item
											h2.article__title!= item.title
											small.article__date!= item.date
											.article__content!= item.body
			include ../modules/_footer