extends ../_template

block variables
	- var title = 'Blog'

block content
	body
		include ../modules/_preloader
		.container
			include ../modules/_sandwich
		.wrapper.blog-page
			header.header
				.container.header__container
					.header__top-line
						include ../modules/_social
					.header__content
						+avatar("avatar.jpg","Моё фото","Моё фото","avatar")
						h1.title.title--extra Блог
						+title-back("blog_header")
						small.title Статьи, которые я написал
			.page-content
				.triangle
					include ../core/_svg
				.blog-content
					.container-blog
						aside.sidebar
							a(href="#" alt="Открыть меню").sidebar__button
							.sidebar__list
								//- .sidebar__item.sidebar__item_active
								//- 	a(href="#" title="Самое важное в SASS").sidebar__link Самое важное в SASS
								//- .sidebar__item
								//- 	a(href="#" title="Приёмы в вёрстке, без которых не обходится ни один сайт").sidebar__link Приёмы в вёрстке, без которых не обходится ни один сайт
								//- .sidebar__item
								//- 	a(href="#" title="Самый необходимый набор Gulp плагинов").sidebar__link Самый необходимый набор Gulp плагинов
								//- .sidebar__item
								//- 	a(href="#" title="Почему я выбрал Jade").sidebar__link Почему я выбрал Jade
						.article
							.article__container
								.article__list
									article.article__item
										h2.article__title Самое важное в SASS
										small.article__date 22 ноября 2016
										.article__content
											p.
												Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
											p.
												Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
											//- Test
									article.article__item
										h2.article__title Приёмы в вёрстке, без которых не обходится ни один сайт
										small.article__date 13 ноября 2016
										.article__content
											p.
												Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
											p.
												Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
									article.article__item
										h2.article__title Приёмы в вёрстке, без которых не обходится ни один сайт
										small.article__date 13 ноября 2016
										.article__content
											p.
												Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
											p.
												Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
									article.article__item
										h2.article__title Приёмы в вёрстке, без которых не обходится ни один сайт
										small.article__date 13 ноября 2016
										.article__content
											p.
												Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
											p.
												Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
									article.article__item
										h2.article__title Приёмы в вёрстке, без которых не обходится ни один сайт
										small.article__date 13 ноября 2016
										.article__content
											p.
												Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
											p.
												Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
			include ../modules/_footer