svg(version='1.1' xml:space='preserve', viewbox='0 0 100 160', preserveaspectratio='none')
    polygon(points='0,0 50.1,160 50.1,220 0,220 0,160').left-triangle
    polygon(points='49.9,160 100,0 100,160 100,220 49.9,220').right-triangle

    


